body {
  background-color: skyblue;
}

h1 {
  color: pink;
  text-align: center;
  font-family: verdana;
  font-size: 25px;
}

#one {
  color: blue;
  text-align: left;
  font-family: verdana;
  font-size: 15px;
}

#two {
  color: red;
  text-align: center;
  font-family: verdana;
  font-size: 0px;
}